@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: Sekuya;
  src: url("/portfolio/public/Sekuya-Regular.ttf");
}

.stroke-white {
  -webkit-text-stroke: 1.5px white;
}

.stroke-black {
  -webkit-text-stroke: 1.5px black;
}


@keyframes marquee {
  0%   { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  animation: marquee 15s linear infinite;
}


/* WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ed8925 0%, #f12c1e 100%);
  border-radius: 20px;
  transition: all 0.3s ease;
  animation: scrollPulse 2s ease-in-out infinite;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #2563eb 0%, #7c3aed 100%);
  animation: none;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #eb580e8d transparent;
}

@keyframes scrollPulse {
  0%,
  100% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
}
